<div id="slider">
  <div id="names">Jennifer & Daniel</div>
  <div id="date">Hochzeit im Juni 2014</div>
  <div id="quote">&bdquo;Ich liebe Dich, Dich liebe ich. Das liebste für Dich. In Liebe, ich.&ldquo;</div>
</div>