<div class="padding-container">
    <h1>Alle Galerien im Überblick</h1>

    <% i = 1 %>
    <% no_of_columns = 3 %>
    <% @galleries.each do |g| %>

        <% if i % no_of_columns == 1 %>
          <div class="row">
        <% end %>

        <div class="col-lg-4 col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><%= g.name %></h3>
              <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>

        <% if i % no_of_columns == 0 %>
           </div>
        <% end %>

        <% i = i + 1 %>

    <% end %>
    <% if i % no_of_columns != 0 %>
        </div>
    <% end %>
</div>