<div class="padding-container">
  <h1><% @gallery.name %></h1>

  <% i = 1 %>
  <% no_of_columns = 4 %>
  <% @gallery.pictures.each do |picture| %>

      <% if i % no_of_columns == 1 %>
          <div class="row row-margin-bottom">
      <% end %>

      <div class="col-lg-3 col-md-3">
        <%= link_to picture_path(picture), :class => 'colorbox-group' do %>
            <img src="<%= thumb_picture_path(picture) %>" alt="<%= picture.filename %>" class="gallery-picture" />
        <% end %>
      </div>

      <% if i % no_of_columns == 0 %>
          </div>
      <% end %>

      <% i = i + 1 %>

  <% end %>

  <% if i % no_of_columns != 0 %>
      </div>
  <% end %>

</div>